node_modules/
build
npm-debug.log
.nyc
.env
.DS_Store

# Logs
logs
.log

yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

dist
dist-ssr
coverage
.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/
!.vscode/extensions.json
.idea
*.suo
.ntvs
*.njsproj
*.sln
*.sw?

*.log*
.nuxt
.nitro
.cache
.output